/***** NAVBAR *****/

.navbar {
    background-color: #000000;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ff6600;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #10131c;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #0c1c3a;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
}

.card-text {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
    display: none;
  }

.card:hover .card-text{
    display: block;
    background-color: black;
    cursor: pointer;
}

.card:hover {
    filter: brightness(75%);
}

/*** Basic Text Styles ***/

 #about-SydneyDavison {
    border-radius: 25px;
    max-height: 500px;
 }

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #101c14;
}

a:hover {
    color: #3a130c;
}

.container{
    padding:25px 0;
}

body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    color: #242424;
}